.none { padding: 0; }
.sm { padding: calc(0.75 * var(--kal-u)) calc(1 * var(--kal-u)); }
.md { padding: calc(1.25 * var(--kal-u)) calc(1.5 * var(--kal-u)); }
.lg { padding: calc(1.75 * var(--kal-u)) calc(2 * var(--kal-u)); }
